.brand .fa-shopping-cart {
  color: green;
}

.e-search {
  width: 80%;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: .8rem;
  padding: 1.2rem;
}